@import "bootstrap/scss/bootstrap.scss";

.hello{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.badge-outline {
    color: #80bdff;
    border: 3px solid #80bdff;
    background-color: transparent;
}